form .detalhes-aeronave .input-box {

    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.detalhes-aeronave .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}


.detalhes-aeronave .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.detalhes-aeronave .input-box input:focus,
.detalhes-aeronave .input-box input:valid {
    border-color: #0a1a5c;
}
