@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 25px;
  border-radius: 5px;
}

.container .titulo {
  font-size: 25px;
  font-weight: 500;
  pointer-events: all;
  padding: 4px;
}

/* .container .titulo::before {
  content: '';
  left: 0;
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(-45deg, #0a1a5c, #0a1a5c);

} */

.container form .detalhes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

#btnlogout button {
  float: right;
  font-size: 25px;
  background-color: Transparent;
  cursor: pointer;
  border: none;
}

.content {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* define os itens, como seria as posiçoes das caixas */
  align-items: center;
  /* alinha na vertical */
  justify-content: center;
  /* alinha na horizontal */
}

form .button {
  height: 45px;
  margin: 45px 0;

}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  background: linear-gradient(-45deg, #0a1a5c, #1f274f, #282f55);
}

form .button input:hover {
  background: linear-gradient(45deg, #0a1a5c, #1f274f, #282f55);
}

@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .detalhes .button {
    margin-bottom: 15px;
    width: 100%;
  }

  .container form .detalhes {
    max-height: 200px;
    overflow-y: scroll;
  }

  form .detalhes .btn {
    margin-bottom: 15px;
    width: 100%;
  }
}