#btnlogout button  {
  float: right;
  font-size: 25px;
  background-color: Transparent;
  cursor: pointer;
  border: none;  
}
.content {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;  /* define os itens, como seria as posiçoes das caixas */
  align-items: center; /* alinha na vertical */
  justify-content: center;  /* alinha na horizontal */
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}