form .detalhes-aeronave .medidas {

    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

#delt{
    margin-bottom: 15px;
    width: calc(100% / 3 - 20px);

}

 .medidas .tituloS {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}

 .medidas .medida {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}


