@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
    .cont img{
        background-color: #0a1a5c;
    }


/* .corpo {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px !important;
    background: linear-gradient(-45deg, #0a1a5c, #0a1a5c)!important;

} */

.cont {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 25px;
    border-radius: 5px;
}

.cont .tituloCal {
    font-size: 25px;
    font-weight: 500;
    pointer-events: all;
    position: relative;
    padding: 4px;
}

.cont .tituloCal::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(-45deg, #0a1a5c, #0a1a5c);

}

.cont form .detalhes-aeronave {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .detalhes-aeronave .input-box {

    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.detalhes-aeronave .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}


.detalhes-aeronave .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.detalhes-aeronave .input-box input:focus,
.detalhes-aeronave .input-box input:valid {
    border-color: #0a1a5c;
}

form .Reversor-details .Reversor-tituloCal {
    font-size: 20px;
    font-weight: 500;
}

form .Reversor-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;

}

.Reversor-details .category label {
    display: flex;
    align-items: center;


}

.Reversor-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.5s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two {
    border-color: #d9d9d9;
    background: #0a1a5c;
}

form input[type="radio"] {
    display: none;

}

form .button {
    height: 45px;
    margin: 45px 0;

}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(-45deg, #0a1a5c, #1f274f, #282f55);
}

form .button input:hover {
    background: linear-gradient(45deg, #0a1a5c, #1f274f, #282f55);
}
form .input_box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
form .input_box input:focus,
form .input_box input:valid{
    border-color: #0a1a5c;
}
form .input_box input .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

@media(max-width: 584px) {
    .cont {
        max-width: 100%;
    }

    form .detalhes-aeronave .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .Reversor-details .category {
        width: 100%;
    }

    .cont form .detalhes-aeronave {
        max-height: 200px;
        overflow-y: scroll;
    }

    /*.detalhes-aeronave::-webkit-scrollbar { 
        width: 0;
    }*/

}