.botao {
    height: 45px;
    margin: 45px 0;
}
.botao input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(-45deg, #0a1a5c, #1f274f, #282f55);
}

.botao input:hover {
    background: linear-gradient(45deg, #0a1a5c, #1f274f, #282f55);
}