/* body{
    background: linear-gradient(-45deg, #0a1a5c, #0a1a5c); 
  }
#form{
    
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
    color: #2b344b;
}
.title{
    font-size: 1.0em;
    margin-bottom: 10%;
    padding: 4px;
}
.input{
    min-width: 200px;
    border-radius: 22px;
    border: 2px #6f7e8a solid;
    padding: 5px;
    margin:0px 0px 12px -5px ;
}
.input i{
    font-size: 1.2em;
    padding: 5px;
    background: -webkit-linear-gradient(-45deg, #0a1a5c, #0a1a5c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
   
}
.input input{
    width: 80%;
    border: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
    transform: translateY(-10%);
    color: #2b344b;
    font-size: 11pt;
}
#btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}
#btn button{
    font-family: 'Poppins',sans-serif;
    margin-bottom: 10px;
    background: linear-gradient(-45deg,  #0a1a5c, #1f274f, #282f55);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color:#fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;   
   
}
#btn button:hover{
    background: linear-gradient(45deg, #0a1a5c, #1f274f, #282f55);
}
form .Reversor-details .Reversor-title {
    font-size: 20px;
    font-weight: 500;
}

form .Reversor-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;

}

.Reversor-details .category label {
    display: flex;
    align-items: center;


}

.Reversor-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.5s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two {
    border-color: #d9d9d9;
    background: #0a1a5c;
}
form input[type="radio"] {
    display: none;
    

}

form .button {
    height: 45px;
    margin: 45px 0;

} */