form .detalhes .input-box {

    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.detalhes .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}


.detalhes .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.detalhes .input-box input:focus,
.detalhes .input-box input:valid {
    border-color: #0a1a5c;
}
@media(max-width: 584px) {
    .container {
      max-width: 100%;
    }
    
    form .detalhes .input-box {
        margin-bottom: 15px;
        width: 100%;
      }
  
    .container form .detalhes {
      max-height: 200px;
      overflow-y: scroll;
    }
  }
